body {
    margin: 40px;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
      .sidebar2 {
          grid-area: sidebar2;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"
       "content"
       "sidebar2"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content"
          "sidebar2 sidebar2"
          "footer   footer";
      }
      }
  
      @media only screen and (min-width: 800px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 360px auto 120px;
              grid-template-areas:
        "header  header  header"
              "sidebar content"
              "footer  footer  footer";
              max-width: 1000px;
          }
      }
  
  .box {
    background-color: rgb(233, 255, 241);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
  
  .header,
  .footer {
    background-color: rgb(90, 253, 163);
  }

  .sidebar {
    background-color: rgb(162, 255, 198);
    color: #444;
  }
  
  .sidebar2 {
    background-color: rgb(162, 255, 198);
    color: #444;
  }